.page-container {
    padding: 6rem 5rem 10rem;
}

.center-item {
    margin: auto;
}

.error-toast {
    position: fixed;
    top: 5%;
    right: 5%;
    width: 40%;
    z-index: 9999;
}

.error-toast-content {
    max-height: 13rem;
    overflow-y: auto;
    overflow-x: hidden;
    margin-bottom: 0;
}

.custom-tag-parent {
    display: flex;
    height: 100%;
    justify-content: left;
    align-items: center;
}

.custom-tag-child {
    background-color: rgb(240, 242, 246);
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.7rem;
    padding: 0 0.4rem;
    font-size: small;
}

.none-value {
    color: rgb(193, 195, 207);
}